<h1>Add Arhive</h1>

<p>
    <a asp-controller="ViewArhive" asp-action="Arhive">ViewArhive</a>
</p>

<hr />

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" /> 
    <button type="submit">Upload File</button>
</form>

 
@if(ViewBag.Message != null)
{
    <div class="alert" style="margin-top:20px">
        @ViewBag.Message
    </div>
}